header {
    width: 60px;
    position: absolute;
    height: 100vh;
    border-right: 2px solid rgb(162, 162, 162);
    transition: .5s ease;
}

header nav img {
    padding: 30px 18px;
    padding-bottom: 50px;
    width: 150px;
}
header nav ul li{
    display: flex;
    align-items: center;
    padding: 10px;
    list-style-type: none;
}
header nav ul li p{
    font-size: 30px;
}
header nav ul li a{
    display: flex;
    opacity: 0;
    font-size: 20px;
    transition: .3s ease;
    text-decoration: none;
    color: rgb(48, 48, 48);
    padding-left: 10px;
}

header:hover{
    width: 180px;
    transition: .5s ease;
}
header:hover nav ul li a{
    opacity: 1;
    transition: 1.5s ease;
}